[submodule "react-headless-auth"]
	path = react-headless-auth
	url = https://github.com/Dhruvagnihotri/react-headless-auth.git
[submodule "flask-headless-auth"]
	path = flask-headless-auth
	url = https://github.com/Dhruvagnihotri/flask-headless-auth.git
[submodule "react-headless-payments"]
	path = react-headless-payments
	url = https://github.com/Dhruvagnihotri/react-headless-payments.git
[submodule "flask-headless-payments"]
	path = flask-headless-payments
	url = https://github.com/Dhruvagnihotri/flask-headless-payments.git
