[submodule "packages/react-headless-auth"]
	path = packages/react-headless-auth
	url = https://github.com/Dhruvagnihotri/react-headless-auth.git
[submodule "packages/flask-headless-auth"]
	path = packages/flask-headless-auth
	url = https://github.com/Dhruvagnihotri/flask-headless-auth.git
[submodule "packages/react-headless-payments"]
	path = packages/react-headless-payments
	url = https://github.com/Dhruvagnihotri/react-headless-payments.git
[submodule "packages/flask-headless-payments"]
	path = packages/flask-headless-payments
	url = https://github.com/Dhruvagnihotri/flask-headless-payments.git
